<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <title>
        <%= user.username %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Welcome To Your Personal MediaPlex!</h1>
        <div >
            <p id="librarySelectionPara">I would like to view my:</p>
            <ul class="horizontal-list">
                <li>
                    <a href="/users/<%=user._id%>/libraries/movies" class="libraryLink">Movies</a>
                </li>

                <li>
                    <a href="/users/<%=user._id%>/libraries/tv-shows" class="libraryLink">TV Shows</a>
                </li>

                <li>
                    <a href="/users/<%=user._id%>/libraries/games" class="libraryLink">Video Games</a>
                </li>

                <li>
                    <a href="/users/<%=user._id%>/libraries/books" class="libraryLink">Books</a>
                </li>

                <li>
                    <a href="/users/<%=user._id%>/libraries/cds" class="libraryLink">CDs</a>
                </li>

            </ul>
        </div>
        <div>
            <p>Would you like to <a href="/users/<%=user._id%>/libraries/new" class="addNewLink">add to your Library?</a></p>
        </div>

</body>

</html>